name: Publish Docker image
on:
  push:
    branches:
      - master
      - develop
      - modify-workflow
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
jobs:
  push_to_registry:
    name: Push Docker image to GitHub Container Registry
    runs-on: ubuntu-latest
    steps:
      - run: echo ${{ github.event_name }}
      - run: echo ${{ github.event.ref }}
      # - name: Check out the repo
      #   uses: actions/checkout@v2
      # - name: Push to GitHub Container Registry
      #   uses: docker/build-push-action@v1
      #   with:
      #     username: ${{ github.actor }}
      #     password: ${{ secrets.GHCR_TOKEN }}
      #     registry: ghcr.io
      #     repository: heromo/pronto-action
      #     tag_with_ref: true
